* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 30px auto;
    padding: 1.5rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

header {
    text-align: center;
}

.title {
    font-size: 3rem;
}

.description {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.form-group {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    flex: 1;
    margin-right: 0.8rem;
    min-height: 2.3rem;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #E1E4E8;
    background-color: #FAFBFC;
}

.form-control:focus {
    outline: none;
    border: none;
    border: 1px solid #58a6f7;
    border-radius: 7px;
    box-shadow: 0 0 3pt 2pt #77a8dd;;
}

.add-button {
    min-height: 2.3rem;
    min-width: 2.3rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #0275d8;
    padding: 0.7rem;
    color: #f7f7f7;
    outline: none;
}

.todo-list {
    list-style: none;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px solid #f7f7f7;
    margin-top: 2.5rem;
    padding: 0.8rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px 5px #a0a8b9;
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(120deg, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(120deg, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f7f7f7;
    transition: all 0.3s ease-out;
}

.todo-item li {
    flex: 1;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: bold;
}

.completed-btn, .delete-btn {
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    color: #f7f7f7;
    outline: none;
    cursor: pointer;
}

.completed-btn {
    margin-right: 0.7rem;
    background-color: #5cb85c;
}

.delete-btn {
    background-color: #d9534f;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.deleted {
    opacity: 0;
}


